<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>

		<!-- 父组件模板 -->
		<div id="app">
			<cpn :number1="num1" :number2="num2" 
				@num1change="num1change" @num2change="num2change"></cpn>
			<p>父组件-num1：{{num1}}</p>
			<p>父组件-num2：{{num2}}</p>
		</div>
		
		
		<!-- 子组件模板 -->
		<template id="cpn">
			<div>
				<p>props-number1:{{number1}}</p>
				<p>props-number2:{{number2}}</p>
				
				<p>data-dnumber1:{{dnumber1}}</p>
				<p>data-dnumber2:{{dnumber2}}</p>
				
				<!-- 通过watch方式解决 -->
				<input type="text" v-model="dnumber1"/>
				<input type="text" v-model="dnumber2"/>
				
			</div>
			
		</template>
		
		<script src="../js/vue.js"></script>
		<script>
			// 父组件
			const app = new Vue({
				el: '#app',
				data: {
					num1: 1,
					num2: 0,
					message: '你好！'
				},
				// 子组件
				methods:{
					num1change(value) {
						console.log(typeof value);
						this.num1 = parseFloat(value)
						console.log("after:",typeof parseFloat(value));
					},
					num2change(value) {
						this.num2 = parseFloat(value)
					}
				},
				components: {
					cpn: {
						template: '#cpn',
						// 父传子
						props:{
							number1: Number,
							number2: Number
						},
						data() {
							return{
								dnumber1: this.number1,
								dnumber2: this.number2,
							}
						},
						// 监听属性是否改变
						watch: {
							dnumber1(newVale){
								this.dnumber2 = newVale * 100;
								// 子传父
								this.$emit('num1change',newVale)
							},
							dnumber2(newVale){
								this.dnumber1 = newVale / 100;
								this.$emit('num2change',newVale)
							}
						}
					}
				}
			})
		</script>
		
	</body>
</html>
